@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

.canvasjs-chart-credit {
    display: none;
    overflow: hidden;
}

.canvasjs-chart-tooltip {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background-color: black;
    overflow: hidden;
}

.canvasjs-chart-canvas {
    overflow: hidden;
    padding: 10px 0 0 0;
    
}

